header {
  background-color: #f0e9e9;
  border-bottom: 1px solid #f8f3f3;
  display: flex;
  position: relative; }
  header nav {
    display: flex;
    width: 100%;
    margin: auto; }
    header nav ul {
      margin: auto; }
      header nav ul li {
        display: inline-block;
        padding: 20px; }
        header nav ul li a {
          color: black;
          font-family: 'Bebas Neue', cursive;
          font-size: 26px;
          padding: 20px;
          text-decoration: none; }
  header .urlLogo {
    width: 5%;
    margin: auto; }
    header .urlLogo .logo {
      width: 75%; }
  header .iconCar {
    color: black;
    margin: auto 20px;
    font-size: 24px; }
    header .iconCar:hover {
      color: black; }

.mainIndex {
  width: 100%; }
  .mainIndex .productoIndex {
    width: 90%;
    display: flex;
    gap: 10px;
    margin: auto; }
    .mainIndex .productoIndex .contProd {
      width: 20%; }
      .mainIndex .productoIndex .contProd .itemProd {
        width: 100%;
        display: block; }
        .mainIndex .productoIndex .contProd .itemProd img {
          width: 100%; }
        .mainIndex .productoIndex .contProd .itemProd p:nth-child(2) {
          font-family: 'Merienda', cursive;
          font-size: 18px; }
        .mainIndex .productoIndex .contProd .itemProd p:nth-child(3) {
          font-family: 'Merienda', cursive;
          font-size: 18px;
          color: red; }
  .mainIndex section {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: auto; }
    .mainIndex section .container {
      position: relative;
      width: 32.8%;
      height: 200px; }
      .mainIndex section .container:hover .overlay {
        opacity: 0.6; }
      .mainIndex section .container .image {
        display: block;
        width: 100%;
        height: 200px; }
      .mainIndex section .container .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .9s ease;
        background-color: #e64ad1; }
        .mainIndex section .container .overlay .text {
          color: white;
          font-size: 76px;
          position: absolute;
          font-family: 'Lobster', cursive;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center; }
  .mainIndex .ultimoTrabajo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%; }
    .mainIndex .ultimoTrabajo .itemTrabajo {
      width: 24.4%; }
      .mainIndex .ultimoTrabajo .itemTrabajo img {
        width: 100%; }

.mainProducto section {
  width: 100%; }
  .mainProducto section #divProducto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px; }
    .mainProducto section #divProducto div {
      width: 19.5%;
      border: 1px solid #ccc;
      box-shadow: 7px 7px 15px #a1a2a8;
      padding: 40px;
      text-align: center; }
      .mainProducto section #divProducto div img {
        width: 100%; }
      .mainProducto section #divProducto div p:nth-child(3) {
        font-family: 'Merienda', cursive;
        font-size: 18px; }
      .mainProducto section #divProducto div p:nth-child(4) {
        font-family: 'Merienda', cursive;
        font-size: 18px;
        color: red; }
    .mainProducto section #divProducto .btn a {
      color: white; }

.mainClienteRegistro {
  padding: 20px;
  margin: 30px auto;
  width: 25%;
  color: white;
  background-color: #920069;
  font-family: 'Staatliches', cursive;
  font-size: 18px; }
  .mainClienteRegistro .btn {
    padding: 20px;
    width: 100%;
    font-size: 24px;
    background-color: #e083ec;
    border-color: #ee29bd;
    color: #3a3939; }
    .mainClienteRegistro .btn:hover {
      color: aliceblue; }

.mainQuienes {
  width: 80%;
  display: grid;
  margin: auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: fr fr fr;
  grid-template-areas: "h1 h1" "contQuienes img";
  padding: 20px; }
  .mainQuienes h1 {
    grid-area: h1;
    font-family: 'Amatic SC', cursive; }
  .mainQuienes .contQuienes {
    width: 100%;
    grid-area: contQuienes; }
    .mainQuienes .contQuienes p {
      text-align: justify;
      padding: 20px;
      font-family: 'Amatic SC', cursive;
      font-size: 18px;
      color: #726f6f; }
  .mainQuienes img {
    width: 100%;
    grid-area: img; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  width: 100%;
  margin: auto; }

h2 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 48px;
  padding: 20px; }

footer {
  width: 100%; }
  footer .social {
    background-color: #736d75;
    padding: 25px;
    text-align: right;
    width: 100%; }
    footer .social .descripcionFooter {
      width: 100%;
      display: flex;
      border-bottom: solid 1px #404444;
      margin-bottom: 20px; }
      footer .social .descripcionFooter .contacto {
        text-align: left;
        width: 25%;
        margin: 0 0 0 60px;
        font-family: 'Bebas Neue', cursive; }
        footer .social .descripcionFooter .contacto h3 {
          font-size: 32px; }
        footer .social .descripcionFooter .contacto p {
          padding: 10px 0px 10px 0; }
      footer .social .descripcionFooter .politica {
        text-align: left;
        width: 25%;
        font-family: 'Bebas Neue', cursive; }
        footer .social .descripcionFooter .politica h3 {
          font-size: 32px; }
        footer .social .descripcionFooter .politica p {
          padding: 10px 0px 10px 0; }
    footer .social .social-icon {
      display: inline-block;
      justify-content: center;
      margin: 2px 0px 0px 0px;
      text-decoration: none;
      font-size: 28px;
      color: #fff;
      padding: 10px; }
      footer .social .social-icon .fa {
        color: #404444; }
